@import "./BagVariables.scss";

.drop_down {
    height: 1px;
    width: 100px;
    @include flex();
    overflow: hidden;
    position: absolute;
    @media (max-width: 830px) {
        width: 100%;
    }
}

.active {
    height: auto;
    border: 0.1px solid grey;
}

.text {
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: .3rem 0;
    background: #FFF;
    justify-content: center;
    border-bottom: 0.08px solid grey;
}